<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDruWJj75cHcQzLWJxMIOGcKvnmLDToXfk</string>
	<key>GCM_SENDER_ID</key>
	<string>317023976449</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hazem.whiteLabelProvider</string>
	<key>PROJECT_ID</key>
	<string>white-label-app-605ad</string>
	<key>STORAGE_BUCKET</key>
	<string>white-label-app-605ad.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:317023976449:ios:923c0222512c8288219400</string>
</dict>
</plist>